<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>SwiftPoker-SampleApp.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>SwiftPoker.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>BF18E2D91D90942500AB5515</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BF18E2ED1D90942500AB5515</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BF18E3011D90943300AB5515</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BF18E3091D90943300AB5515</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
