fastlane/keys
Preview.html
fastlane/screenshots/screenshots.html

.DS_Store
DerivedData
dist
*.xccheckout
*.xcuserdatad
*.egg-info
*.so
*.pyc
*.pbxuser
*.mode1v3
*.mode2v3
*.perspectivev3
*.xcuserstate
.idea
xcuserdata/
Carthage/Checkouts
fastlane/report.xml
test_output
